.main-container {
  background-color: rgb(106, 122, 82);
}
.banner {
  color: white;
  background-image: url(../../images/bg.jpg);
  height: 150px;
}
.banner-content {
  padding-top: 50px;
}
.team {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 5%;
}
