.main-container {
  background-color: rgb(106, 122, 82);
  font-family: 'Times New Roman', Times, serif;
  color: white;
  text-align: center;
}
.banner-home {
  color: white;
  background-image: url(../../images/bg.jpg);
  height: 150px;
}
.banner-content {
  padding-top: 50px;
}
.league {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 3%;
}
