.container {
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
}
.social-icon {
  font-size: 30px;
  margin: 9px;
}

.card {
  max-width: auto;
  margin-top: 10px;
  background-color: rgb(140, 196, 56);
  color: white;
}